body {
  margin: 0;
  /* background-image: url();
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: lightpink;
}

.container {

  max-width: 1320px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
}

.wrapper {
  margin: 240px 0;
  position: relative;
  display: flex;
  align-items: flex-start;
}

.personal_infor {
  background-color: white;
  border-radius: 20px;
  position: relative;

}

.menu {

  background: #FFFFFF;
  border-radius: 16px;

  position: absolute;

  right: 0;
  padding: 30px;
  display: flex;


}

.about_selection {
  margin: 184px 0 60px 40px;
  height: auto;
  flex-direction: column;
  flex: 1;
  display: flex;
  background-color: #FFFFFF;
  border-radius: 16px;
}

@font-face {
  font-family: 'Poppins';
  src: url(fontface/Poppins-Medium.ttf);
}

@font-face {
  font-family: 'Roboto Slab';
  src: url(fontface/RobotoSlab-Medium.ttf);
}

.personal_content {
  display: flex;
  flex-direction: column;
  width: auto;
}

.personal_ava {
  height: 240px;
  width: 240px;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0px 10px 22px rgba(0, 0, 0, 0.1));
  border-radius: 20px;
  position: absolute;

}

.personal_name {
  font-family: 'Roboto slab';
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 34px;

  color: #000000;
  margin: 140px auto 0px;
}

.personal_social_network {
  list-style: none;
  display: flex;
  padding-left: 0px;
  justify-content: center;
  margin-bottom: 0px;
}

.personal_social_network li {
  margin-right: 10px;
}

.personal_social_network li:last-child {
  margin-right: 0px;
}

.personal_social_network li button {
  background: #F3F6F7;
  border-radius: 8px;
  height: 40px;
  width: 40px;
  border: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.personal_social_network li :hover {
  cursor: pointer;
  background: #dbe1e2;
}

.personal_job {
  background: #F3F6F7;
  border-radius: 8px;
  padding: 5px 20px 5px 20px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin: 15px auto 0px;
}

.personal_job p {
  margin: 0px;
}

.personal_infor_specific {
  padding: 30px 30px 20px 30px;
  width: auto;
  background: #F3F6F6;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin: 30px 30px 0 30px;
}

.personal_infor--item {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #E3E3E3;
}

.personal_infor--item:last-child {
  border-bottom: none;
}

.personal_infor--item--icon {
  background: #FFFFFF;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  display: flex;
  border: hidden;
  height: 44px;
  width: 44px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}


.personal_infor--detail {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 10px;
  margin-bottom: 10px;
}

.personal_infor--detail p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #44566C;
  margin-bottom: 0px;
}

.personal_infor--detail span {
  padding-top: 2px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}


.download_button {
  display: flex;
  height: 55px;
  width: 215px;
  background: linear-gradient(93.74deg, #Fa5252 0%, #dd2476 100%);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  border: hidden;
  margin: 30px auto;
}

.download_button:hover {
  cursor: pointer;
  background: linear-gradient(153.43deg, #8ba52d 16.67%, #65dd24 100%);
}

.download_content {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
  margin-left: 10px;
}

.menu_detail {
  height: 84px;
  width: 84px;
  background: #F3F6F6;
  border-radius: 12px;
  border: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;

}

.menu_detail:hover {
  cursor: pointer;
  background: linear-gradient(153.43deg, #8ba52d 16.67%, #65dd24 100%);
}

#menu_detail--about:hover {
  background: linear-gradient(153.43deg, #8ba52d 16.67%, #65dd24 100%);
}

.menu_detail:last-child {
  margin-right: 0px;
}

#menu_detail--about {
  background: linear-gradient(153.43deg, #Fa5252 16.67%, #dd2476 100%);
}

#menu_detail--about p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}

.menu_icon {
  margin-top: 4px;
}

.menu_content {
  margin: 9px 0 0px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  color: #44566C;

}

.about_me_header {
  display: flex;
  flex-direction: row;
  margin: 60px 0 30px 60px;
  align-items: center;
}

.about_me_header p {

  font-family: 'Roboto slab';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 53px;
  color: #000000;
  margin-top: 0px;
}

.about_me_header textarea {
  width: 32%;
  max-height: 182px;
  background: #FFFFFF;
  border: hidden;
  border-top: 4px solid rgb(223, 67, 67);
  margin-left: 30px;
  font-family: 'Poppins';
  margin-top: -20px;

}


.about_me_content {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  margin-left: 30px;
}

.about_me_content--detail {
  margin-left: 30px;
  margin-right: 114px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #44566C;
  margin-bottom: 0px;
  margin-top: 0px;
}

#about_me_content--detail--first {
  margin-bottom: 20px;
}


.skill_selection {
  display: flex;
  flex-direction: row;
  background: #F8FBFB;
  height: auto;

  padding: 60px;

}

.skill_selection_content {
  display: flex;
  flex-direction: column;
  background: #F8FBFB;

  width: 50%;

}

.skill_selection_content:last-child {
  margin-left: 30px;
}

.skill_name_selection_content--header {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 39px;
  color: #000000;
  margin-bottom: 0px;

}

.skill_Work_detail {
  display: flex;
  flex-direction: column;
}

.skill_Work_detail-content {
  display: flex;
  flex-direction: column;
  margin-top: 14px;
}

.skill_Work_detail-content--word {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #44566C;
}

.skill_Work_detail-content--geometry {
  margin-top: -8px;
}

.skill_Work_line-full {

  background: #EdF2F2;
  border-radius: 18px;


}

.skill_Work_line-real {
  border-radius: 18px;
  height: 5px;
  width: 85%;
}

#skill_Work_line-real--HTmL {
  background: #FF6464;
}

#skill_Work_line-real--Css {
  background: #9272d5;
}

#skill_Work_line-real--Javascript {
  background: #5185d5;
}

#skill_Work_line-real--ReactJs {
  background: #Ca56F2;
}

.skill_Knowledges_detail {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 30px;
}

.skill_Knowledges_detail-content {
  margin-right: 12px;
  margin-bottom: 20px;
  background: #EdF2F2;
  border-radius: 8px;
  border: hidden;
  height: 34px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #44566C;
  padding: 5px 20px 5px 20px;
}



.progress {

  display: flex;
  padding: 60px;

}

.progress_content {
  display: flex;
  flex-direction: column;


  width: 50%;
}

.progress_content:last-child {
  margin-left: 30px;
}


.progress_content--header {
  display: flex;
  margin-bottom: 20px;
}

.progress_content--header p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 39px;
  color: #000000;
  margin-top: 0px;
  margin-bottom: 0px;
}

.progress_content--header img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.progress_content-detail {
  display: flex;
  flex-direction: column;


}

.progress_content-detail-in {
  background: #FFF4F4;
  height: 120px;
  border-radius: 12px;
  padding: 15px 10px 15px 20px;
  margin-bottom: 20px;
}

.progress_content-detail-in:last-child {
  margin-bottom: 0px;

}

.progress_content-detail-in p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #44566C;
  margin: 0px;
}

.progress_content-detail-in span {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color:
    #0F172A;
}

.progress-year,
.progress-place {
  margin-left: 20px;

}

.progress-year {
  margin-bottom: 0px;
}

.progress-place {
  margin-top: 0px;
}

#progress_content-detail-in-even--number {
  background: #EEF5Fa;
  border-radius: 12px;
}

.clients_section {

  background: #F8FBFB;

  padding: 40px 60px 40px 60px;
}

.clients {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
  color: #000000;
  margin-top: 0px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.clients_brand {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 50px;
}





.copyright-content {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #44566C;
  margin: 0px;
}

.copyright {
  padding: 20px 0px 20px 0px;
}